obj/Default/AdminRighter.csproj.GenerateResource.Cache
*.pdb
AdminRighter.pdb
*.suo
AdminRighter.v12.suo
*.exe
AdminRighter.exe
*.pdb
obj/Default/AdminRighter.pdb
*.cache
obj/Default/DesignTimeResolveAssemblyReferencesInput.cache
*.exe
obj/Default/AdminRighter.exe
*.Cache
*.suo